<body>
        <div class='BackOffice'>
            <div class='modif row'>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <form action='index.php?page=showT' class='col-md-2' method="POST">
                        <fieldset class="t1">
                            <legend>Action</legend>
                            <p class="first">
                                <input type="text" name='Action' placeholder="Entrez une action" />
                                <input type="text" name="ID_action" placeholder="Entrez un action" />
                                <button class="btn btn-info btn-xs">Modifer</button>
                            </p>
                        </fieldset>
                    </form>
                    
                    <form action='index.php?page=showT' class='col-md-2' method="POST">
                        <fieldset class="t1">
                            <legend>Etat</legend>
                            <p class="first">
                                <input type="text" name='Etat' placeholder="Entrez un Etat" />
                                <input type="text" name="ID_action" placeholder="Entrez un id_action" />
                                <button class="btn btn-info btn-xs">Modifer</button>
                            </p>
                        </fieldset>
                    </form>
                    <form action='index.php?page=showT' class='col-md-2' method="POST">
                        <fieldset class="t1">
                            <legend>ID_participant_reu</legend>
                            <p class="first">
                                <input type="text" name='ID_participant_reu' placeholder="Entrez un ID_partcipant_reu" />
                                <input type="text" name="ID_action" placeholder="Entrez un ID_action" />
                                <button class="btn btn-info btn-xs">Modifer</button>
                            </p>
                        </fieldset>
                    </form>
            </div>
        </div>
        </br></br></br>
</body>     