<body>
    <div class='BackOffice'>
        <div class='modif row'>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Date de création</legend>
                        <p class="first">
                            <input type="text" name='Date_de_creation' placeholder="Entrez une date de création" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Nom_p</legend>
                        <p class="first">
                            <input type="text" name='Nom_p' placeholder="Entrez un Nomp_p a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Instigateur</legend>
                        <p class="first">
                            <input type="text" name='Instigateur' placeholder="Entrez un instigateur a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Langage</legend>
                        <p class="first">
                            <input type="text" name='Langage' placeholder="Entrez un langage a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Description</legend>
                        <p class="first">
                            <input type="text" name='Description' placeholder="Entrez une description a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Date de début</legend>
                        <p class="first">
                            <input type="text" name='Date_de_debut' placeholder="Entrez une date de debut a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Statut</legend>
                        <p class="first">
                            <input type="text" name='Statut' placeholder="Entrez un statut a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>difficultés</legend>
                        <p class="first">
                            <input type="text" name='difficultes' placeholder="Entrez une difficultés a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>participant</legend>
                        <p class="first">
                            <input type="text" name='participant' placeholder="Entrez un participant a modifier" />
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_projet" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Suprimer</legend>
                        <p class="first">
                            <input type="text" name="ID_projet" placeholder="Entrez un ID_messages a suprimer" />
                            <button class="btn btn-info btn-xs">Suprimer</button>
                        </p>
                    </fieldset>
                </form>

        </div>
    </div>
</body>