<body>
    <div class="connexion">
        <h2>Connectez-vous !</h2>
        <p class="lead" style="margin-top:0">Remplissez les champs ci-dessous</p>


        <form role="form" action="index.php?page=connexionC" method="post">
            <label for="InputName">Votre Nom</label>

            <input type="text" class="form-control" name="pseudo" id="InputName" placeholder="Entrez un nom" /required>
			<p><p>
            <label for="InputName">Votre Mot de passe</label>

            <input type="password" class="form-control" name="password" id="InputName" placeholder="Entrez un mot de passe" /required>

            </br>

            <button type="submit" class="btn btn-success">Connexion</button>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
        </form>
    </div>
</body>