
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Team :</h3>
            <p>Lael Tirnan<br/>
              Valentin Rigaud<br/>
              Tom Georges<br/>
              Paul de Clermont Tonnerre</br>
        
			<script type="text/javascript" src="./source/js/membreJs.js"></script>
			<!-- LICENSE -->
			<a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
		   property="dc:title"></br>Licence : </br>Flatfy Theme </a> by
		   <a rel="dc:creator" href="http://www.andreagalanti.it"
		   property="cc:attributionName">Andrea Galanti</a>
		   is licensed to the public under 
		   <BR>the <a rel="license"
		   href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
		   Commons Attribution 3.0 License</a>.
     
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title"></h3>
              <ul>
                 <img class="intech" src="./source/image/intech.jpg" alt="Generic placeholder image">
              </ul>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Go to: <a href="http://www.intechinfo.fr/?gclid=CMOezaeY3swCFQoTGwodtoMIyw" target="_blank">In'tech</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>