<body id="home">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">P.r.o.g.r.a.m.m.a.t.i.o.n.</h1>
			<div class="div_home wow fadeIn" data-wow-delay="0.6s"><FONT size="5pt"><FONT size="6pt"><b>P</b></FONT>rojet ou <FONT size="6pt"><b>R</b></FONT>éunion, vous avez besoin d’<FONT size="6pt"><b>O</b></FONT>rganisation, ce qui implique de la <FONT size="6pt"><b>G</b></FONT>estion.<br> Avec ce site, vous pouvez <FONT size="6pt"><b>R</b></FONT>egarder tout cela :<br> <FONT size="6pt"><b>A</b></FONT>ssistant pour vos <FONT size="6pt"><b>M</b></FONT>aniements, il vous permet de prévoir assez de <br><FONT size="6pt"><b>M</b></FONT>arge pour vous <FONT size="6pt"><b>A</b></FONT>ccommoder à <FONT size="6pt"><b>T</b></FONT>erme dans vos <FONT size="6pt"><b>I</b></FONT>dées et ainsi remplir vos <FONT size="6pt"><b>O</b></FONT>bjectifs.<br> C’est une <FONT size="6pt"><b>N</b></FONT>ouveauté.</FONT></div>
			<ul class="list-inline intro-social-buttons">
				<li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Facebook</span></a>
				</li>
				<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.0s"><span class="network-name">Twitter</span></a>
				</li>
			</ul>
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			
			<img class="rotate" src="./source/image/reunion.png" alt="Generic placeholder image">
		</div>
    </div>

	<!-- What is -->

	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container" >

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<div id="contact" class="content-section-a">
					<h2>Assistant</h2>
					<p class="lead" style="margin-top:0">Pour vous aider</p>
				</div>
			
				<div class="row">
				
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/associé.png" alt="Generic placeholder image">
						<h4>Projet</h4>
						<p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img  class="imgreunion" src="./source/image/comu.png" alt="Generic placeholder image">
						<h4>Reunion</h4>
						<p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img  class="imgreunion" src="./source/image/calendar.png" alt="Generic placeholder image">
						<h4>Organisation</h4>
						<p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/engrenages.png" alt="Generic placeholder image">
						<h4>Gestion</h4>
						<p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
				
				</div><!-- /.row -->
				
				<div class="row">
				
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/oeil.png" alt="Generic placeholder image">
						<h4>Regard</h4>
						<p class="lead"></p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/cool.jpg" alt="Generic placeholder image">
						<h4>Assistance</h4>
						<p class="lead"></p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/fleches.png" alt="Generic placeholder image">
						<h4>Maniement</h4>
						<p class="lead"></p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/.png" alt="Generic placeholder image">
						<h4>Marge</h4>
						<p class="lead"></p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
						<img class="imgreunion" src="./source/image/lit.jpg" alt="Generic placeholder image">
						<h4>Accomodation</h4>
						<p class="lead"></p>
						<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
					</div><!-- /.col-lg-4 -->
				
				</div><!-- /.row -->
			</div>
		</div>
	</div>
	
    <!-- JavaScript -->
    <script src="./source/js/jquery-1.10.2.js"></script>
    <script src="./source/js/bootstrap.js"></script>
	<script src="./source/js//owl.carousel.js"></script>
	<script src="./source/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="./source/js/stickUp.min.js"></script>
	<script type="text/javascript">
		jQuery(function($) {
			$(document).ready( function() {
				$('.navbar-default').stickUp();
			});
		});
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="./source/js/jquery.corner.js"></script> 
	<script src="./source/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="./source/js/classie.js"></script>
	<script src=./source/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="./source/js/jquery.magnific-popup.js"></script> 
</body>

</html>
