<body>
    <div class="row">
        <div class="col-md-6">
            <div class='msgN'>
                <form action="index.php?page=message" method="post" class="STYLE-NAME">
                    <h1>Envoyez un message 
        <span>S'il vous plait, remplissez tous les champs.</span>
    </h1>
                    <label>
        <span>Mail :</span>
        <SELECT name="mail" size="1">
        <?php
        echo 'alo';
       $id =  $_SESSION['id'];
     
        $req = $pdo->prepare("SELECT Mail FROM utilisateurs WHERE ID_ut != :id");
       $req->execute(array("id" => $id));
        while($recup = $req->fetch()) {
            echo'<option>'.$recup['Mail'].'</option>';  
        }
        ?>
        </SELECT>
    </label>
                    <label>
        <span>Objet :</span>
        <input id="objet" type="text" name="titre" placeholder="Objet" />
    </label>
                    <label>
        <span>Message :</span>
        <textarea id="message" name="message" placeholder="Entre votre message"></textarea>
    </label>
                    <label>
        <span>&nbsp;</span> 
        <button type="submit" class="button">Envoyer</button> 
    </label>
                </form>
            </div>
        </div>
    </div>
    </br></br>
</body>