<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">Programmation</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form action="index.php?page=connexionC" class="navbar-form navbar-right" method="POST">
                    <input type="text" class="form-control" name="pseudo" placeholder="Pseudo">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                    <button type="submit" class="btn btn-success">Connexion</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php?page=registerC">S'enregistrer</a></li>
                </ul>
            </div>
        </div>
    </nav>
 <body>