<html>

<head>

</head>

<body>
    <div class='lien'>
        <h3>
           Utilisateurs enregistrés dans la table UTILISATEURS
        </h3>
    </div>
    <div class='modif row'>
    <form action='index.php?page=showT' class='col-md-2' method="POST">
        <fieldset class="t1">
            <legend>Modification Prenom</legend>
            <p class="first">
                <input type="text" name='prenom' placeholder="Entrez un pseudo" />
                <input type="text" name="id" placeholder="Entrez un ID_ut" />
                <button>Modifer</button>
            </p>
         </fieldset> 
    </form>
      <form action='index.php?page=showT' class='col-md-2' method="POST">
        <fieldset class="t1">
            <legend>Modification Mot de passe</legend>
            <p class="first">
                <input type="text" name='mdp' placeholder="Entrez un mot de passe" />
                <input type="text" name="id" placeholder="Entrez un ID_ut" />
                <button>Modifer</button>
            </p>
         </fieldset> 
    </form>
     <form action='index.php?page=showT' class='col-md-2' method="POST">
        <fieldset class="t1">
            <legend>Modification Mail</legend>
            <p class="first">
                <input type="text" name='mail' placeholder="Entrez un mail" />
                <input type="text" name="id" placeholder="Entrez un ID_ut" />
                <button>Modifer</button>
            </p>
         </fieldset> 
    </form>
        <form action='index.php?page=showT' class='col-md-2' method="POST">
        <fieldset class="t1">
            <legend>Modification Nom_ut</legend>
            <p class="first">
                <input type="text" name='nom_ut' placeholder="Entrez un Nom_ut" />
                <input type="text" name="id" placeholder="Entrez un ID_ut" />
                <button>Modifer</button>
            </p>
         </fieldset> 
    </form>
    <form action='index.php?page=showT' class='col-md-2' method="POST">
        <fieldset class="t1">
            <legend>Suprimer</legend>
            <p class="first">
                <input type="text" name="id" placeholder="Entrez un ID_ut" />
                <button>Suprimer</button>
            </p>
         </fieldset> 
    </form>
    
    </div>
</body>

</html>