<html>
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="./source/style.css">
</head>
<body>
  
        <form id="form1" action="index.php?page=registerC" method="post">

            <fieldset class="f1">
                <legend>Formulaire de contact</legend>
                <p class="first">
                    <label for="name">Nom</label>
                    <input type="text" name="firstname" id="firstname" size="30" />
                </p>
                <p>
                    <label for="secondname">Prenom</label>
                    <input type="text" name="secondname" id="secondname" size="30" />
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" size="30" />
                </p>
                <p>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password"  size="30" />
                </p>
                <p>
                    <label for="repassword">Confirmation mot de passe</label>
                    <input type="password" name="repassword" id="repassword"  size="30" />
                </p>
            </fieldset>
             </br> </br> </br>
            <fieldset>
                <legend>Statut</legend>
                <p>
                    <label for="statut">Etudiant</label>
                    <input type="radio" name='statut' value="etudiant" />

                </p>
                <p>
                    <label for="statut">Professionnel</label>
                    <input type="radio" name="statut" value="professionnel" />
            </fieldset>
             </br> </br> </br>
            <fieldset>
                <legend>Notification</legend>
                 Voulez-vous reçevoir des notifications sur votre boîte mail ? </br> </br>
                <p>
                    <input type="radio" name="noti" value="Oui" />
                     <label for="noti">Oui</label>
                    
                </p>
                <p>    
                    <input type='radio' name="noti" value="Non" />
                    <label for="noti">Non</label>
                </p>

                <p class="submit"><button type="submit"  class="btn btn-primary btn-sm">Envoyer</button></p>

        </form>
    </div>
</body>