<body>
    <nav class="row navbar navbar-inverse">
        <div class="container-fluid col-md-12">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">Programmation</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <?php
                 $pseudo = $_SESSION['pseudo'];                 
            ?>
                    <form action="index.php" class="navbar-form navbar-right" method="GET">
                        <input type='hidden' name='page' value="deconnexion" />
                        <button type="submit" class="btn btn-warning">Déconnexion de votre session <?php echo $pseudo?></button>
                    </form>
                      <form action="index.php" class="navbar-form navbar-right" method="GET">
                        <input type='hidden' name='page' value="message" />
                        <button type="submit" class="btn btn-info">Notification</button>
                    </form>
            </div>
        </div>
    </nav>

    <body>