<div class="row" style="position:relative;">
    <div class="col-md-2">
     <ul id="menu-accordeon">
   <li><a href="#">Mes projet(s)</a>
      <ul>
         <li><a href="#">Crée un projet</a></li>
         <li><a href="#">Modifier un projet</a></li>
         <li><a href="#">lien sous menu 1</a></li>
         <li><a href="#">lien sous menu 1</a></li>
      </ul>
   </li>
    <li><a href="index.php?page=reunionAffiche">Mes réunion(s)</a>
      <ul>
         <li><a href="index.php?page=reunionCree">Crée une réunion</a></li>
         <li><a href="#">Modifier une réunion</a></li>
         <li><a href="#">Lien sous menu 2</a></li>
         <li><a href="#">Lien sous menu 2</a></li>
      </ul>
   </li>
   <li><a href="#">Lien menu 3</a>
      <ul>
         <li><a href="#">Lien sous menu 3</a></li>
         <li><a href="#">Lien sous menu 3</a></li>
         <li><a href="#">Lien sous menu 3</a></li>
         <li><a href="#">Lien sous menu 3</a></li>
      </ul>
   </li>
    </ul>        
    </div>




