<body>
    <div class='BackOffice'>
        <div class='modif row'>
              <form action='index.php?page=showT' class='col-md-2' method="POST">                                                                                                                                              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Instigateur</legend>
                    <p class="first">
                        <input type="text" name='Instigateur' placeholder="Entrez un instigateur" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion" />
                        <button>Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Ordre</legend>
                    <p class="first">
                        <input type="text" name='Ordre' placeholder="Entrez un ordre" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion" />
                        <button>Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Date_d</legend>
                    <p class="first">
                        <input type="text" name='Date_d' placeholder="Entrez un Date_d" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Date_f</legend>
                    <p class="first">
                        <input type="text" name='Date_f' placeholder="Entrez un Date_f" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion"/>
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
             <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Heure</legend>
                    <p class="first">
                        <input type="text" name='Heure' placeholder="Entrez une heure" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion"/>
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Lieu</legend>
                    <p class="first">
                        <input type="text" name='Lieu' placeholder="Entrez un Lieu" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion"/>
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Compte_rendu_r</legend>
                    <p class="first">
                        <input type="text" name='Compte_rendu_r' placeholder="Entrez un Compte_rendu_r" />
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_reunion"/>
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Suprimer</legend>
                    <p class="first">
                        <input type="text" name="ID_reunion" placeholder="Entrez un ID_ut" />
                        <button class="btn btn-info btn-xs">Suprimer</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </div>
</body>