<body>
    <div class='BackOffice'>
        <div class='modif row'>
              <form action='index.php?page=showT' class='col-md-2' method="POST">                                                                                                                                              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>id_destinataire</legend>
                    <p class="first">
                            <input type="text" name='id_destinataire' placeholder="Entrez un id a modifier" />
                        <input type="text" name="ID_messages" placeholder="Entrez un ID_messages" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>ID_ut</legend>
                    <p class="first">
                        <input type="text" name='ID_ut' placeholder="Entrez un ID_ut a modifier" />
                        <input type="text" name="ID_messages" placeholder="Entrez un ID_messages" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>titre</legend>
                    <p class="first">
                        <input type="text" name='titre' placeholder="Entrez un titre a modifier" />
                        <input type="text" name="ID_messages" placeholder="Entrez un ID_messages" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>message</legend>
                    <p class="first">
                        <input type="text" name='messages' placeholder="Entrez un message a modifier" />
                        <input type="text" name="ID_messages" placeholder="Entrez un ID_messages" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Suprimer</legend>
                    <p class="first">
                        <input type="text" name="ID_messages" placeholder="Entrez un ID_messages a suprimer" />
                        <button class="btn btn-info btn-xs">Suprimer</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </div>
    </br></br></br></br>
</body>