<body>
    <div class='BackOffice'>
        <div class='modif row'>
              <form action='index.php?page=showT' class='col-md-2' method="POST">                                                                                                                                              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>ID_ut</legend>
                    <p class="first">
                            <input type="text" name='ID_ut' placeholder="Entrez un id a modifier" />
                        <input type="text" name="ID_participants_pr" placeholder="" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>ID_projet</legend>
                    <p class="first">
                        <input type="text" name='ID_projet' placeholder="Entrez un ID_projet a modifier" />
                        <input type="text" name="ID_participants_pr" placeholder="" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    </br></br></br></br>
</body>