<body>
    <div class='BackOffice'>
        <div class='modif row'>
              <form action='index.php?page=showT' class='col-md-2' method="POST">                                                                                                                                              <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Tache</legend>
                    <p class="first">
                        <input type="text" name='Tache' placeholder="Entrez une Tache" />
                        <input type="text" name="ID_tache" placeholder="Entrez un ID_tache" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Suprimer</legend>
                    <p class="first">
                        <input type="text" name="ID_tache" placeholder="Entrez un ID_tache" />
                        <button class="btn btn-info btn-xs">Suprimer</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </div>
    </br></br></br></br></br>
</body>