<body>
    <div class='BackOffice'>
        <div class='modif row'>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>Presence</legend>
                        <p class="first">
                            <input type="text" name='Presence' placeholder="Entrez une presence a modifier" />
                            <input type="text" name="ID_participant_reu" placeholder="Entrez un ID_partcipant_reu a modifier" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>ID_ut</legend>
                        <p class="first">
                            <input type="text" name='ID_ut' placeholder="Entrez un ID_ut a modifier" />
                            <input type="text" name="ID_participant_reu" placeholder="Entrez un ID_partcipant_reu a modifier" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
                <form action='index.php?page=showT' class='col-md-2' method="POST">
                    <fieldset class="t1">
                        <legend>ID_tache</legend>
                        <p class="first">
                            <input type="text" name='ID_tache' placeholder="Entrez un ID_tache a modifier" />
                            <input type="text" name="ID_participant_reu" placeholder="Entrez un ID_partcipant_reu a modifier" />
                            <button class="btn btn-info btn-xs">Modifer</button>
                        </p>
                    </fieldset>
                </form>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>ID_reunion</legend>
                    <p class="first">
                        <input type="text" name='ID_reunion' placeholder="Entrez un ID_reunion a modifier" />
                        <input type="text" name="ID_participant_reu" placeholder="Entrez un ID_partcipant_reu a modifier" />
                        <button class="btn btn-info btn-xs">Modifer</button>
                    </p>
                </fieldset>
            </form>
            <form action='index.php?page=showT' class='col-md-2' method="POST">
                <fieldset class="t1">
                    <legend>Suprimer</legend>
                    <p class="first">
                        <input type="text" name="ID_participant_reu" placeholder="Entrez un ID_partcipant_reu a suprimer" />
                        <button class="btn btn-info btn-xs">Suprimer</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
</body>