<body>
    <div class="confirmationIns">
        
        <fieldset>
        <h3>Merci de votre inscription !</h3></br>
        Un e-mail automatique de confirmation vient d'être envoyé à votre adresse e-mail </br>
        Vous ne retrouvez pas notre e-mail de confirmation ? </br>
        Merci de vérifier si vous ne l'avez pas reçu parmi vos " vos courriers indésirable ou spam" </br>
        </br>
        </br>
        <?php
               $secondname = $_SESSION['secondname'];                 
            ?>
            <h3>Merci de votre confiance <?php echo $secondname; ?> !<h3>

                </fieldset>
    </div>
</body>

</html>