<?php 
include('./view/head.html');
include( './view/nav_bar_co.html');
?>
<body>
    </br></br></br>
    <form action='index.php?page=reumod' class="STYLE-NAME" method="POST">
            <h1>Modification de reunion</h1>
                Nom de la réunion : <input type="text" name='ordre' value= <?php echo $data['Ordre']; ?> /></br>
                </br>
                date de la reunion : </br> <input type="date" name="date_r" value= <?php echo $data['Date_r']; ?> /></br>
                </br>
                Heure du début : </br> <input type="time" name="heure_d" value= <?php echo $data['Heure_d']; ?> /></br>
                </br>
                Heure de la fin : </br> <input type="time" name="heure_f" value=  <?php echo $data['Heure_f']; ?> /></br>
                </br>
				Lieu de la reunion : </br> <input type="text" name="lieu" value= <?php echo $data['Lieu']; ?> /></br>
                </br>
                Description : <input type="text" name="compte_rendu_r" value= <?php echo $data['Compte_rendu_r']; ?> /></br>                       
                 </br>
				 
			          <input type="hidden" name="ID_reunion" value= <?php echo $data['ID_reunion']; ?> />        		
				
                 </br>
                <button type="submit" class="button">Modifier</button>
            </p>
    </form>
    </br></br></br></br></br></br></br></br>
</body>
<?php
include('./view/footer.html');
?>