<body onload="alert('Veuillez bien saisir tout vos champ !');">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</br>	
<form enctype="multipart/form-data"  action = "index.php?page=projet_add" class="STYLE-NAME" method = "POST">
		<div align="center"><h1> Création Projet </h1>	</div>	
		<p>
			<label for = "projet_nom">Entrer le nom de votre Projet : </label>
			<input type ="text" name = "projet_nom" id = "projet_nom" placeholder='Chiilii'/>
		</p>
		
		<p>
			<label for = "langage">Entrer le(s) langage(s) : </label>
<input type ="text" name = "langage" id = "langage" placeholder="Php&Mysql,Html,Css,Python"/>
			
		</p>
		<p>
			<label for = "participants">Entrer le nombres de participants : </label>
			<input type ="number" name = "participants" id = "participants" min="1" placeholder="5"/>
			
		</p>
		
		<p>
			<label for = "difficultés">Entrer le niveau de difficultés : </label>
			<input type ="range" id="myRange" onclick="rang()"  step="10" value="0" name = "difficultes" />
			<span id = "aff_rang"></span>%

		</p>
<script>
		
function rang() {
    var x = document.getElementById("myRange").value;
    document.getElementById("aff_rang").innerHTML = x;
}
		</script>

		<p>
			<label   for = "d_d">Entrer la date de début : </label>
			<input type ="date" name = "d_d" id = "d_d" /> 
			
		</p>
		<p>
			<label for = "d_f">Entrer la date de fin : </label>
			<input type ="date" name = "d_f" id = "d_f"  onmouseover="m()"/>
		</p>
		
<script>
function m() {
document.getElementById("d_f").value= document.getElementById("d_d").value;

}
</script>
		<p>
					<label for = "img">Entrer une image pour votre projet : </label>
					<input type ="hidden" name = "MAX_FILE_SIZE" value="10000000"/>
					<input type ="file" name = "image"/>
		
		</p>
		
		<p>
			<label for = "description">Entrer une description  votre projet : </label>
			<textarea name = "description" rows="10" cols="50" placeholder="Valoriser votre projet.."/></textarea>
			
		</p>
			<input type ="submit" value = "Envoyer"/>
			<input type ="submit" onclick="imprimer()" value = "Imprimer"/>
	</form>
</body>

