<body>
<div align="center">
<form method = "POST" action = "">
</br>	<br/><br/><br/><br/><br/><br/>


	<p>	
		<input type ="submit" class="btn btn-success btn-sm" name = "me_reunion" value="AFFICHAGE DES REUNIONS DONT ON EST INSTIGATEUR" />	</br></br>
		<input type ="submit" class="btn btn-success btn-sm" name="me_participant" value = "AFFICHAGE DES REUNIONS DONT ON EST PARTICIPANT"/></br></br>
		<input type ="submit" class="btn btn-success btn-sm" name="me_all" value = "AFFICHAGE TOUTES REUNIONS "/>
		</p>
</br>			
</br>
		
 
	</form>	

</body>
