<body>
    </br>
    </br>
    </br>
    <form action='index.php?page=reunion_add' class="STYLE-NAME" method="POST">
           <div align="center"> <h1>Création Réunion</h1></div>
                Nom de la réunion : <input type="text" name='ordre' placeholder="Entrez un nom de projet" /></br>
                </br>
                date de la reunion : </br> <input type="date" name="date_r" placeholder="date de la réunion" /></br>
                </br>
                Heure du début : </br> <input type="time" name="heure_d" placeholder="Heure du début de la réunion" /></br>
                </br>
                Heure de la fin : </br> <input type="time" name="heure_f" placeholder="Heure de la fin réunion" /></br>
                </br>
				Lieu de la reunion : </br> <input type="text" name="lieu" placeholder="lieu de la réunion" /></br>
                </br>
                Description : <input type="text" name="compte_rendu_r" placeholder="Entrez une description détaillée de la reunion" /></br>                       
                 </br> 
                 </br>      
                <button type="submit" class="button">Créer</button>
            </p>
    </form>
    </br></br>
</body>